body{
    background: rgb(0, 255, 21);
}

.calculadora {
    background: rgb(179, 255, 0);
    color: rgb(243, 243, 243);
    border-color: rgb(165,42,42);
    width: 200px;
    padding: 10px;
    border-radius: 15px;
    text-align: center;
}
.calculadora input {
background:rgb(81, 221, 0);
color: rgb(255, 255, 255);
border-color: rgb(165,42,42);
border-style: groove;
border-radius: 9px;
padding: 5px;
}

.calculadora input:focus{
    background: rgb(9, 170, 211);
    color: rgb(255, 255, 255);
    border-color: rgb(229, 255, 0);
    border-style: double;
    border-radius: 9px;
}

#sptotal {
    background: rgb(255, 230, 0);
    color: rgb(0, 0, 0);
    border-style: groove;
    border-color: rgb(179, 71, 0);
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 15px;
    
}

.calculadora button {
    background:rgb(102, 255, 0);
    margin-top: 10px;
    color: rgb(255, 255, 255);
    border-color: rgb(148, 96, 0);
    border-style: groove;
    border-radius: 9px;
    padding: 5px;
    }

    .calculadora button:hover {
        background:rgb(43, 255, 0);
        margin-top: 10px;
        color: rgb(255, 255, 255);
        border-color: rgb(0, 153, 255);
        border-style: groove;
        border-radius: 6px;
        padding: 2px;
        cursor: pointer;
        }

#spListaMeses {
    text-align: start;
    border-color: rgb(175, 64, 0);
    border-style: groove;
    border-width: 1px;
    color: azure;
    background: rgb(105, 185, 0);
    
}
                            
